<h1 class="text-center mb-4 bg-danger p-2 fw-bolder text-white mt- mb-lg-5"> View All Customers</h1>

<div class="mt-5">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Customer Number</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Address</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of CustomerList">
                <th scope="row">{{"EMP00"+customer.id}}</th>
                <td>{{customer.name}}</td>
                <td>{{customer.city}}</td>
                <td>{{customer.contact}}</td>
                <td><button><i class="bi bi-trash btn bg-danger-subtle" (click)="DeleteCustomer(customer)"></i></button>
                </td>
                <td><button><i class="bi bi-pencil-square btn bg-light" (click)="UpdateCustomer(customer)"
                            data-bs-toggle="modal" data-bs-target="#exampleModal"></i></button></td>

            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Id :</label>
                    <input type="text" class="form-control" id="recipient-name" disabled [(ngModel)]="CustomerObj.id">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="CustomerObj.name">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">City :</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="CustomerObj.city">
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Contact Number :</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="CustomerObj.contact">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="SaveUpadtes()">Update </button>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center mb-4 bg-dark p-2 fw-bolder text-bg-primary mt- mb-lg-5 mt-5">Search Customers</h1>


<div class="row mt-5 p-5">
   <div class="col-6">
    <div class="row">
        <div class="col-3"> <label for="recipient-name" class="col-form-label justify-content-around">Id :</label></div>
        <div class="col-6">   <input type="text" class="form-control" id="recipient-id" ></div>
       <div class="col-2"> <button type="button" class="btn btn-primary" >Search </button>  </div>
    
    </div>

    <div class="row mt-4">
        <div class="col-3"> <label for="recipient-name" class="col-form-label justify-content-around">Name :</label></div>
        <div class="col-6">   <input type="text" class="form-control" id="recipient-name" disabled></div>
    </div>

    <div class="row mt-4">
        <div class="col-3"> <label for="recipient-name" class="col-form-label justify-content-around">City :</label></div>
        <div class="col-6">   <input type="text" class="form-control" id="recipient-name" disabled></div>
    </div>
    
    <div class="row mt-4">
        <div class="col-3"> <label for="recipient-name" class="col-form-label justify-content-around"> Cpntact Number:</label></div>
        <div class="col-6">   <input type="text" class="form-control" id="recipient-name" disabled></div>
    </div>
   </div>
   <div class="col-6 justify-content-lg-center">
    <img src="R.png" alt="asf" width="50%" >
   </div>
</div>