<div class="row">
    <app-header></app-header>
</div>

<h1 class="text-center mb-4 bg-info p-2 fw-bolder text-white mt- mb-lg-5"> Add Customers</h1>

<div class="row">


    <div class="col-lg-6 col-sm-12">

        <div class="col-lg-6 col-sm-12  justify-content-center">
            <img src="OIP.jpg" alt="ras" width="100%">
    
        </div>
    </div>
    
    <div class="col-lg-6 col-sm-12">
    
    
        <div>
            <label for="txt-Student-name" class="form-label ">Customer Name : </label>
            <input type="text" id="txt-Student-name" class="form-control " [(ngModel)]="CustomerOb.name">
        </div>
    
        <div>
            <label for="txt-Address" class="form-label ">City : </label>
            <input type="text" id="txt-Address" class="form-control "  [(ngModel)]="CustomerOb.city">
        </div>
    
        <div>
            <label for="txt-Telnum" class="form-label ">Telephone Number : </label>
            <input type="text" id="txt-Telnum" class="form-control "  [(ngModel)]="CustomerOb.contact">
        </div>
    
        <div>
            <button class="btn btn-primary mt-3" id="btn-register" (click)="AddCustomer()"> Save Details</button>
        </div>
    
    </div>
</div>

<div class="row mt-5 justify-content-around">
    <app-view-all-customer class="justify-content-md-center"></app-view-all-customer>
</div>